
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;400&family=Roboto+Mono:ital,wght@0,100;1,300&display=swap');

.escudos{
    background-color: #c57fe5;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;


}

.sm1 , .sm2{
    height: 200px;
}

.guanajuato{
    height: 100px;
}



