
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;400&family=Roboto+Mono:ital,wght@0,100;1,300&display=swap');



html{
    scroll-behavior: smooth;
}

section[id]{
   scroll-margin-top: 70px;
}

p{
    font-family: 'Poppins', sans-serif;
}


.escudos{
    background-color: #735caa;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;


}

h3{
    font-family: 'Poppins', sans-serif;;
    font-size: 1rem;
    font-weight: bold;
}

.sm1 , .sm2{
    height: 200px;
}

.guanajuato{
    height: 100px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #000;
    font-weight: bold;   
}

.serviciosTitulo{
    
    color: #FFFF;
    text-align: center;
    margin-bottom: 50px;
}

.noticiasTitulo{
    margin-left: 100px;
    margin-bottom: 50px;
}

.seccionImportante{
    display: flex;
    justify-content: center;
    
    

}

hr{
    border: none; /* Elimina la línea horizontal predeterminada */
    height: 10px; /* Altura de la línea */
    background-color: #1b2b50;
}

.seccionImportante{
    background: linear-gradient(#FFF,#f3e7f6); 

}

.seccionImportante div{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
   
    
}


.contImgImp, .contImgTrans {
    border-radius: 10px;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.5), -10px 0px 15px rgba(0, 0, 0, 0.5);
}

.expliTransporte{
    margin-top: 100px;
   background-color: #ead3ef;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.tituloTransporte{
    color: #5937aa;
    
}

.contImgImp img {
    height: 100%;
    
}

.contImgTrans img {

    height: 500px;
    border-radius: 10px;
}


.tramiteTarjeta{

    margin-top: 100px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 100px;
    justify-content: center;
    margin-bottom: 100px;

}

.IndicacionesTarjeta{
    text-align: center;
    
}

.IndicacionesTarjeta h2{
    color: #735caa;
}


.listaRequisitosTarjeta li {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-style: oblique;
    margin-top: 10px;
}


.noticias{
    background-color: #f3e7f6 ;

    
}

.main{
    background-color: #f3e7f6 ;
}

.about{
    background: linear-gradient(#FFF,#ead3ef);
    padding-bottom: 50px;
}

.about div{
    margin-top: 50px;
}

.ubicacionParrafo{
    font-size: 20px;
    font-style: italic;
}

.mapa{
    display: flex;
   justify-content: center;
   
}

.btnCarrito{
    color: #5937aa;
    font-style: bold;
    font-weight: bold;   
   
}

.cartas{
   margin-bottom: 10px;
   
}




@media screen and (max-width: 1040px) {
    .seccionImportante {
        display: flex;
        flex-wrap: wrap;
    }

     .expliTransporte{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
    }

    .tramiteTarjeta{
        flex-wrap: wrap;
    }
}



